@media (max-width:1440px)  {
    .boxes {
        position: relative;
        right: 2rem;
        top: 2rem;
    }
    .boxes img {
        width: 400px;
    }
    .pic-2 {
        position: relative;
        bottom: 10rem;
    }

    .pic-2 img {
        width: 413px !important;
    }

    .bout p{
        font-size :  20px
    }
.l-more {
    right: 295px;
}

.product {
    top: 12.5rem;
}


.snoman img {
    width: 220px;
    position: relative;
    bottom: 40px;
    }

.snoman {
    position: absolute;
    left: 6rem;
}

#ball {
    width: 155px;
    position: relative;
    right: 4rem;
    top: 40px;
    }

.shopclik p {
    color: #fff;
    font-size: 20px;
}

.find {
    position: relative;
    left: 5rem;
    top: 10px;
}

input[type="search"] {
    font-size: 20px;
    width: 190px;
    height: 30px;
}


#s-icon {
    color: #fff;
    position: relative;
    left: 60px;
    top: 10px;
}

.popular img {
    width: 550px;
}

.spark img {
    width: 350px;
}
}

/* ==================================================================================================================================================== */
@media (min-width:1441px){
    .serch {
        left: 432px;
        bottom: 164px;
    }

    .boxes img {
        width: 398px;
    }
    .pic-2 img {
        width: 440px !important;
    }


    .justify-content-center {
        justify-content: center!important;
        position: relative;
        top: 8rem !important;
    }

    .product {
        display: flex;
        justify-content: center;
        position: relative;
        top: 15.5rem;
        
    }
    img#popular {
        width: 528px;
    }

    .l-more {
        position: relative;
        top: 15rem !important;
        display: flex;
        right: 23.5rem;
    }

    #ball {
        width: 143px;
        position: relative;
        right: 4rem;
        top: 9rem;
    }
    .snoman img {
        width: 220px;
        position: relative;
        bottom: -55px;
    }

    .snoman {
        position: absolute;
        left: 8rem;
    }

    input[type="search"] {
        border: none;
        outline: none;
        background-color: transparent;
        font-family: Arial, sans-serif;
        font-size: 20px;
        color: #ffff;
        border-bottom: 1px solid #ffff;
        padding: 0;
        margin: 0;
        box-shadow: none;
        width: 180px;
        height: 30px;
    }

    .find {
        position: relative;
        left: 4rem;
        top: 11px;
    }
    #s-icon {
        color: #fff;
        position: relative;
        left: 45px;
        top: 1rem;
    }

    .bout p {
        font-size: 26px;
    }
   
    .abots {
        position: relative;
        top: 20px;
    }

    .content {
        height: 131vh;
    }
}

/* =================================================================================================================== */
@media (max-width:320px) {
    .navsbar {
        position: relative;
        top: 0.5rem;
        left: 0rem;
        cursor: pointer !important;
    }

    .navsbar a {
        font-family: sans-serif;
        padding-left: 5px;
        color: #ffff;
        font-size: 10px;
        text-decoration: none;
        cursor: pointer !important;
    }

    .spark {
        text-align: center;
        position: relative;
        bottom: -2rem;
    }

    .shopclik {
        text-align: center;
        position: relative;
        top: 1.5rem;
    }

    .shopclik p {
        color: #fff;
        font-size: 6px;
    }

    .shopclik img{

      width: 180px;
    }

    #ball {
        width: 99px;
        position: relative;
        right: -6rem;
        top: -10rem;
    }


    .snoman img {
        width: 125px;
        position: relative;
        bottom: 30px;
    }

    .snoman {
        position: absolute;
        left: 107px;
        top: 28rem;
    }

   .product img {
        width: 325px;
    }


    .product {
        display: flex;
        justify-content: center;
        position: relative;
        top: 23.5rem;
    }

    .bout p {
        text-align: left;
        position: relative;
        top: 5rem;
        left: 2rem;
        padding-right: 0;
        font-size: 11px;
    }

    .boxes {
        position: relative;
        right: 10rem;
        top: 35rem;
    }

    #icon {
        padding: 5px;
    }

    .serch {
        position: relative;
        bottom: 8.5rem;
        left: 36px;
    }

    .bout img {
        position: relative;
        top: 5rem;
        left: 47px;
    }

    .l-more {
        right: -23px;
    position: relative;
    top: 190px !important;
}
    #more {
        width: 135px !important;
    }

    .boxes img {
        width: 270px;
    }
    .pic-2 img {
        width: 295px !important;
    }

    .pic-2 {
        position: relative;
        bottom: 7rem;
    }
}

/* ============================================================================================================================= */

@media (max-width:600px) {
    .navsbar a {
    font-family: sans-serif;
    padding-left: 10px;
    color: #ffff;
    font-size: 11px;
    text-decoration: none;
}

    .navsbar {
        position: relative;
        top: 1.5rem;
        left: 1rem;
        z-index: 1;
    }

    .spark {
        text-align: center;
        position: relative;
        bottom: -2rem;
    }



    
    .serch {
        position: relative;
        bottom: 7.5rem;
        left: 120px;
    }   


#s-icon {
    color: #fff;
    position: relative;
    left: 43px;
    top: 0rem;
}


.shopclik p {
    color: #fff;
    font-size: 8px;
}

.shopclik img {
     width: 230px;
     width: 230px;
     position: relative;
     bottom: 10px;
}

.snoman img {
    width: 140px;
    position: relative;
    bottom: -50px;
}

#ball {
    width: 100px;
    position: relative;
    right: 2rem;
    top: 6rem;
}

.snoman {
    position: absolute;
    left: 6rem;
}

.product {
    display: flex;
    justify-content: center;
    position: relative;
    top: 21.5rem;
}

.bout p {
    text-align: left;
    position: relative;
    top: 7rem;
    left: 2rem;
    padding-right: 0;
    font-size: 12px;
}


.boxes {
    position: relative;
    right: 0rem;
    top: 7rem;
}

.pic-2 img {
    width: 290px !important;
}

.boxes img {
    width: 265px;
}



#icon {
    padding: 5px;
}

.shopclik {
    text-align: center;
    position: relative;
    top: 2rem;
}


.l-more {
    position: relative;
    top: 14rem !important;
    display: flex;
    right: 1.5rem;
}

input[type="search"] {
    width: 115px;
   
}

}




/* ==================================================================================================================== */

@media  (max-width:991px) {
    .navsbar {
        position: relative;
        top: 2.5rem;
        left: 1rem;
}

.navsbar a {
    font-family: sans-serif;
    padding-left: 8px;
    color: #ffff;
    font-size: 11px;
    text-decoration: none;
    cursor: pointer !important;
}

.serch {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 130px;
    left: 245px;
}


#icon {
    padding: 10px;
    color: #fff;
    position: relative;
    left: 1rem;
    cursor: pointer;
}

.find {
    position: relative;
    left: 2rem;
    top: 0;
}

input[type="search"] {
    width: 105px;
    font-size: 14px;
}

#s-icon {
    color: #fff;
    position: relative;
    left: 1rem;
    top: 7px;
}

.shopclik p {
    color: #fff;
    font-size: 16px;
}

.shopclik {
    text-align: center;
    position: relative;
    top: 0;
}

.product {
    top: 15.5rem;
}

.snoman {
    position: absolute;
    left: 6rem;
}

.snoman img {
    width: 140px;
    position: relative;
    bottom: 70px;
}

#ball {
    position: relative;
    right: 2rem;
    top: -1rem;
    width: 115px;   
}

.bout p {
    font-size: 15px;
    text-align: left;
    position: relative;
    top: 7rem;
    left: 2rem;
    padding-right: 0;
}

.pic-2 img {
    width: 400px !important;
}
.boxes img {
    width: 365px;
}
.l-more {
    right: 3.5rem;
}

.boxes {
    position: relative;
    right: 0rem;
    top: 2rem;
}

.abots {
    position: relative;
    bottom: 36px;
}

}


/* ============================================================================================================= */

@media (max-width: 400px) {

    .navsbar {
        position: relative;
        top: 20px;
        left: 1rem;
    }
    .navsbar a {
        font-family: sans-serif;
        padding-left: 0px;
        color: #ffff;
        font-size: 9px;
        text-decoration: none;
    }

    #s-icon {
        color: #fff;
        position: relative;
        left: 51px;
        top: 0rem;
    }

    .shopclik p {
        color: #fff;
        font-size: 7px;
    }

    input[type="search"] {
        width: 100px;
        font-size: 10px;
        height: 25px;
    
    }

    .find {
        position: relative;
        left: 4rem;
        top: -1px;
    }

    .serch {
        position: relative;
        bottom: 145px;
        left: 17px;
    }


    .product {
        display: flex;
        justify-content: center;
        position: relative;
        top: 20.5rem;
    }

    .bout p {
        text-align: left;
        position: relative;
        top: 7rem;
        left: 1rem;
        padding-right: 0;
        font-size: 10px;
    }

    .l-more {
        position: relative;
        top: 14rem !important;
        display: flex;
        right: -75px;
    }

    .pic-2 img {
        width: 160px !important;
    }


    .pic-2 {
        position: relative;
        bottom: 4rem;
        right: 6px;
    }

    .boxes img {
        width: 140px;
    }

    .boxes {
        position: relative;
        right: 0rem;
        top: 10rem;
    }

    .bout img {
        position: relative;
        top: 7rem;
        left: 85px;
    }


    .spark {
        text-align: center;
        position: relative;
        bottom: -2rem;
    }
    

    .snoman img {
        width: 145px;
        position: relative;
        bottom: 0px;
    }

    #ball {
        position: relative;
        right: -7rem;
        top: -7rem;
        width: 115px;
    }

    #icon {
        left: 3rem;
        top: -4px;

    }
}
